---
{% if inventory_hostname == groups['masters'][0] %}
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  name: {{ inventory_hostname }}
  criSocket: {{ kubelet_config.container_runtime_endpoint }}
  kubeletExtraArgs:
    - name: "cgroup-driver"
      value: "{{ kubelet_config.cgroup_driver }}"
    - name: "fail-swap-on"
      value: "{{ kubelet_config.fail_swap_on | lower }}"
localAPIEndpoint:
  advertiseAddress: {{ ansible_host }}
  bindPort: {{ kubeadm_config.api_server_bind_port }}
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: {{ kubeadm_config.cluster_name }}
{% set full_version = (k8s_version | default('1.31.0')) | string | regex_replace('^v', '') %}
{% if full_version.split('.') | length == 2 %}
{% set full_version = full_version ~ '.0' %}
{% endif %}
kubernetesVersion: v{{ full_version }}
controlPlaneEndpoint: {{ loadbalancer_ip }}:{{ kubeadm_config.api_server_bind_port }}
networking:
  serviceSubnet: {{ kubeadm_config.service_subnet }}
  podSubnet: {{ kubeadm_config.pod_subnet }}
etcd:
  external:
    endpoints:
{% for host in groups['etcds'] %}
    - https://{{ hostvars[host]['ansible_host'] }}:2379
{% endfor %}
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
apiServer:
  certSANs:
  - {{ loadbalancer_ip }}
{% for host in groups['masters'] %}
  - {{ hostvars[host]['ansible_host'] }}
  - {{ host }}
{% endfor %}
  extraArgs:
    - name: "authorization-mode"
      value: "Node,RBAC"
    - name: "enable-admission-plugins"
      value: "NodeRestriction,ResourceQuota,LimitRanger,ServiceAccount,DefaultStorageClass,MutatingAdmissionWebhook,ValidatingAdmissionWebhook"
    - name: "bind-address"
      value: "0.0.0.0"
    - name: "profiling"
      value: "false"
    - name: "audit-log-path"
      value: "/var/log/kubernetes/audit.log"
    - name: "audit-log-maxage"
      value: "30"
    - name: "audit-log-maxbackup"
      value: "10"
    - name: "audit-log-maxsize"
      value: "100"
controllerManager:
  extraArgs:
    - name: "bind-address"
      value: "0.0.0.0"
    - name: "profiling"
      value: "false"
scheduler:
  extraArgs:
    - name: "bind-address"
      value: "0.0.0.0"
    - name: "profiling"
      value: "false"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: {{ kubelet_config.cgroup_driver }}
failSwapOn: {{ kubelet_config.fail_swap_on | lower }}
containerRuntimeEndpoint: {{ kubelet_config.container_runtime_endpoint }}
serverTLSBootstrap: true
