*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
credential.tfvars
constant.tfvars
!credential.tfvars.example
!constant.tfvars.example

*.retry
ansible/inventories/*/hosts.ini
!ansible/inventories/*/hosts.ini.example

*.pem
*.key
id_rsa*

*.log

/tmp/kubernetes-join-command

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
