- name: Update apt package cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
- name: Install common packages
  ansible.builtin.apt:
    name:
      - curl
      - wget
      - apt-transport-https
      - ca-certificates
      - gnupg
      - lsb-release
      - software-properties-common
      - unzip
      - vim
      - nano
      - htop
      - net-tools
    state: present
- name: Disable swap temporarily
  ansible.builtin.command: swapoff -a
  when: ansible_swaptotal_mb > 0
  changed_when: false
- name: Disable swap permanently
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1'
- name: Load br_netfilter module
  community.general.modprobe:
    name: br_netfilter
    state: present
- name: Load overlay module
  community.general.modprobe:
    name: overlay
    state: present
- name: Create modules-load config for kubernetes
  ansible.builtin.copy:
    content: |
      br_netfilter
      overlay
    dest: /etc/modules-load.d/k8s.conf
    mode: "0644"
- name: Set sysctl parameters for kubernetes
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/k8s.conf
    reload: true
  loop:
    - { name: "net.bridge.bridge-nf-call-iptables", value: "1" }
    - { name: "net.bridge.bridge-nf-call-ip6tables", value: "1" }
    - { name: "net.ipv4.ip_forward", value: "1" }
- name: Ensure hostname is set correctly
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
- name: Update /etc/hosts with cluster nodes
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "{{ hostvars[item]['ansible_host'] }} {{ item }}"
    state: present
  loop: "{{ groups['k8s_cluster'] }}"
