# Configuration variables for Proxmox Kubernetes cluster
# Copy this file to terraform.tfvars and customize the values

proxmox_config = {
  url            = "https://your-proxmox-server:8006/api2/json"
  tls            = true
  node_name      = "your-proxmox-node-name"
  storage_pool   = "local-lvm"
  network_bridge = "vmbr0"
  gateway        = "192.168.1.1"
}

cluster_name = "my-k8s-cluster"

master_vm_config = {
  template_name = "debian12-cloudinit"
  ip_base       = "192.168.1.130"
  vm_count      = 2
  cpu_core      = 2
  cpu_socket    = 2
  cpu_type      = 0
  memory        = 4096
  os_type       = "cloud-init"
  qemu_os       = "l26"
  bios          = "ovmf"
  ip_offset     = 0
  disk_size     = 32
}

worker_vm_config = {
  template_name = "debian12-cloudinit"
  ip_base       = "192.168.1.132"
  vm_count      = 3
  cpu_core      = 4
  cpu_socket    = 2
  cpu_type      = 0
  memory        = 8192
  os_type       = "cloud-init"
  qemu_os       = "l26"
  bios          = "ovmf"
  ip_offset     = 0
  disk_size     = 64
}

lxc_gateways = {
  template = "ubuntu-22.04-standard"
  hostname = "k8s-gateway"
}
