apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

clusterDomain: cluster.local
clusterDNS:
  - 10.96.0.10

containerRuntimeEndpoint: {{ kubernetes_kubelet_config.container_runtime_endpoint }}

cgroupDriver: {{ kubernetes_kubelet_config.cgroup_driver }}
failSwapOn: {{ kubernetes_kubelet_config.fail_swap_on | default(false) | lower }}

authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
    cacheTTL: 2m0s
  x509:
    clientCAFile: /etc/kubernetes/pki/ca.crt

authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 5m0s
    cacheUnauthorizedTTL: 30s

{% if k8s_ssl_enabled %}
serverTLSBootstrap: {{ kubernetes_kubelet_config.server_tls_bootstrap | default(true) | lower }}
rotateCertificates: {{ kubernetes_kubelet_config.rotate_certificates | default(true) | lower }}

tlsCipherSuites:
  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
  - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
  - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384

tlsMinVersion: VersionTLS12
{% endif %}

shutdownGracePeriod: 60s
shutdownGracePeriodCriticalPods: 20s

systemReserved:
  cpu: 100m
  memory: 512Mi
  ephemeral-storage: 1Gi

kubeReserved:
  cpu: 100m
  memory: 512Mi
  ephemeral-storage: 1Gi

imageGCHighThresholdPercent: 85
imageGCLowThresholdPercent: 80

logging:
  format: text
  verbosity: 2

healthzPort: 10248
healthzBindAddress: 127.0.0.1

protectKernelDefaults: true
makeIPTablesUtilChains: true

featureGates:
  RotateKubeletServerCertificate: true
  SeccompDefault: true

evictionHard:
  memory.available: "100Mi"
  nodefs.available: "10%"
  imagefs.available: "15%"

evictionSoft:
  memory.available: "200Mi"
  nodefs.available: "15%"
  imagefs.available: "20%"

evictionSoftGracePeriod:
  memory.available: "1m30s"
  nodefs.available: "1m30s"
  imagefs.available: "1m30s"

evictionMaxPodGracePeriod: 90
evictionPressureTransitionPeriod: 5m0s
