---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
etcd:
  local:
    serverCertSANs:
      - "{{ ansible_host }}"
      - "{{ inventory_hostname }}"
      - "localhost"
      - "127.0.0.1"
    peerCertSANs:
      - "{{ ansible_host }}"
      - "{{ inventory_hostname }}"