---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
etcd:
  local:
    serverCertSANs:
{% for san in cert_target_addresses %}
      - "{{ san }}"
{% endfor %}
    peerCertSANs:
{% for san in cert_target_addresses %}
      - "{{ san }}"
{% endfor %}
