---
apiVersion: "kubeadm.k8s.io/v1beta4"
kind: InitConfiguration
nodeRegistration:
  name: {{ inventory_hostname }}
localAPIEndpoint:
  advertiseAddress: {{ ansible_host }}
---
apiVersion: "kubeadm.k8s.io/v1beta4"
kind: ClusterConfiguration
certificatesDir: "/etc/kubernetes/pki"
etcd:
  local:
    serverCertSANs:
    - "{{ ansible_host }}"
    - "{{ inventory_hostname }}"
    - "{{ ansible_hostname }}"
    - "127.0.0.1"
    - "localhost"
    peerCertSANs:
    - "{{ ansible_host }}"
    - "{{ inventory_hostname }}"
    - "127.0.0.1"
    - "localhost"
    extraArgs:
    - name: "initial-cluster"
      value: >-
        {% for host in groups['etcds'] %}{{ host }}=https://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}
    - name: "initial-cluster-state"
      value: "new"
    - name: "name"
      value: "{{ inventory_hostname }}"
    - name: "listen-peer-urls"
      value: "https://{{ ansible_host }}:2380"
    - name: "listen-client-urls"
      value: "https://{{ ansible_host }}:2379,https://127.0.0.1:2379"
    - name: "advertise-client-urls"
      value: "https://{{ ansible_host }}:2379"
    - name: "initial-advertise-peer-urls"
      value: "https://{{ ansible_host }}:2380"